.container-fluid {
    margin-top: 400px;
    text-align: center;
    border-radius: 20px;
}
.container {
   text-align: center;

}
h1[id="contador"]{
    font-family: Georgia,' Times New Roman', Times, serif;
    font-size: 80px;
}

h1[id="valor"]{
    font-size: 70px;
    font-family:Georgia,' Times New Roman', Times, serif;
    margin-top: 1rem;
}

input {
    border-radius: 10px;
    width:150px ;
    font-size: 20px;
   font-family: Georgia,' Times New Roman', Times, serif;
   margin: 0 5px;
    margin-top: 1rem;
}